<h3> History of Users </h3>

<table>
<% @history.each do |orders| %>
      <tr>
        <td>Title:<%= orders.product.title %></td>
        <td>Price:<%= orders.product.price %></td>
        <td>Quantity: <%= orders.quantity %></td>
	<td>Created_at: <%= orders.created_at %></td>
      
<tr>
<% end %>

</table>

